root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.{html,config,csproj,props}]
indent_size = 2

[project.json]
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = none
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0090: 'new' expression can be simplified.
dotnet_diagnostic.IDE0090.severity = warning