*.user
project.lock.json
.vs/
.tye/
.idea/
node_modules/
.cache/
.parcel-cache/
storybook-static/
.temp/
bin/
obj/
/*.tgz
/WebAssets/dist
/WebAssets/coverage
/Owin.Demo/wwwroot
/AspNetCore.Demo/wwwroot
/AspNetCore.Demo.Net6/wwwroot