*.user
project.lock.json
.vs/
.tye/
.idea/
bower_components/
node_modules/
.cache/
.temp/
bin/
obj/
/*.tgz
/WebAssets/dist
/WebAssets/coverage
/Owin.Demo/wwwroot
/AspNetCore.Demo/wwwroot
/WebAssets/tests/__render_cache__