.CodeMirror, .CodeMirror-hints {
    font-family: Consolas, Menlo, Monaco, monospace;
}

.CodeMirror-hints {
    font-size: inherit;
}

.mirrorsharp-hint {
    display: flex;
    padding-left: 0;
}

.mirrorsharp-hint::before {
    content: '';
    flex-shrink: 0;
    margin-right: 0.2em;
    padding-right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    background-repeat: no-repeat;
}

.mirrorsharp-hint-class::before { background-image: url('icons/class.svg'); }
.mirrorsharp-hint-field::before { background-image: url('icons/field.svg'); }
.mirrorsharp-hint-keyword::before { background-image: url('icons/keyword.svg'); }
.mirrorsharp-hint-method::before { background-image: url('icons/method.svg'); }
.mirrorsharp-hint-parameter::before { background-image: url('icons/variable.svg'); }