.CodeMirror,
.CodeMirror-hints,
.CodeMirror-lint-tooltip,
.CodeMirror-lintfix-popup,
.mirrorsharp-signature-tooltip {
    font-family: Consolas, Menlo, Monaco, monospace;
}

.CodeMirror-hints, .CodeMirror-lintfix-popup {
    font-size: inherit;
}

.mirrorsharp-theme .cm-string {
    color: #a31515;
}

.mirrorsharp-theme .cm-keyword,
.mirrorsharp-theme .cm-atom {
    color: #0000ff;
}

.mirrorsharp-theme .cm-def,
.mirrorsharp-theme .cm-variable-3,
.mirrorsharp-theme .cm-number {
    color: #000000;
}

.mirrorsharp-connection-issue {
    display: none;
    position: absolute;
    top: 0;
    background: #aaa;
    right: 0;
    left: 0;
    color: #fff;
    padding: 0.2em 0.4em;
}

.mirrorsharp-connection-has-issue .mirrorsharp-connection-issue {
    display: block;
}

.CodeMirror.mirrorsharp-connection-has-issue {
    padding-top: 1.6em;
}

.CodeMirror.mirrorsharp-connection-has-issue .CodeMirror-code {
    color: #aaa;
}

.CodeMirror.mirrorsharp-connection-has-issue .CodeMirror-code * {
    color: inherit;
}

.mirrorsharp .CodeMirror-lint-mark-unnecessary {
    opacity: 0.5;
}

.CodeMirror-lint-marker-unnecessary {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
    background-image: url(icons/lint/unnecessary.png);
}

.CodeMirror-lint-marker-unnecessary.CodeMirror-lintfix-marker-fixable::before {
    display: none;
}

.mirrorsharp-hint {
    display: flex;
    padding-left: 0;
}

.mirrorsharp-hint::before {
    content: '';
    flex-shrink: 0;
    margin-right: 0.2em;
    padding-right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    background-repeat: no-repeat;
}

.mirrorsharp-hint-namespace::before { background-image: url('icons/namespace.svg'); }
.mirrorsharp-hint-class::before { background-image: url('icons/class.svg'); }
.mirrorsharp-hint-structure::before { background-image: url('icons/structure.svg'); }
.mirrorsharp-hint-enum::before { background-image: url('icons/enum.svg'); }
.mirrorsharp-hint-interface::before { background-image: url('icons/interface.svg'); }
.mirrorsharp-hint-field::before { background-image: url('icons/field.svg'); }
.mirrorsharp-hint-keyword::before { background-image: url('icons/keyword.svg'); }
.mirrorsharp-hint-method::before { background-image: url('icons/method.svg'); }
.mirrorsharp-hint-parameter::before { background-image: url('icons/variable.svg'); }

.mirrorsharp-signature-tooltip {
    position: absolute;
    margin-top: 2px;
    font-size: 80%;
    opacity: 0.7;
    background: #eee;
    border: 1px solid silver;
    border-radius: 3px;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.mirrorsharp-signature-tooltip ol {
    margin: 0;
    padding: 2px;
    list-style-type: none;
}

.mirrorsharp-signature-tooltip li {
    padding: 1px 4px;
}

.mirrorsharp-signature-selected {
    background: #fff;
}

.mirrorsharp-signature-part-selected {
    font-weight: bold;
}