.CodeMirror,
.CodeMirror-hints,
.CodeMirror-lint-tooltip,
.CodeMirror-lintfix-popup,
.mirrorsharp-signature-tooltip {
    font-family: Consolas, Menlo, Monaco, monospace;
}

.CodeMirror-hints, .CodeMirror-lintfix-popup {
    font-size: inherit;
}

.mirrorsharp-theme .cm-string {
    color: #a31515;
}

.mirrorsharp-theme .cm-keyword,
.mirrorsharp-theme .cm-atom {
    color: #0000ff;
}

.mirrorsharp-theme .cm-def,
.mirrorsharp-theme .cm-variable-3,
.mirrorsharp-theme .cm-number {
    color: #000000;
}

.mirrorsharp-theme .cm-comment {
    color: #008000;
}

.mirrorsharp-connection-issue {
    display: none;
    position: absolute;
    top: 0;
    background: #aaa;
    right: 0;
    left: 0;
    color: #fff;
    padding: 0.2em 0.4em;
}

.mirrorsharp-connection-has-issue .mirrorsharp-connection-issue {
    display: block;
}

.CodeMirror.mirrorsharp-connection-has-issue {
    padding-top: 1.6em;
}

.CodeMirror.mirrorsharp-connection-has-issue .CodeMirror-code {
    color: #aaa;
}

.CodeMirror.mirrorsharp-connection-has-issue .CodeMirror-code * {
    color: inherit;
}

.mirrorsharp .CodeMirror-lint-mark-unnecessary {
    opacity: 0.5;
}

.CodeMirror-lint-marker-unnecessary {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAEbSURBVDhPpZFNioNAEIVzhFnkELmD4MIT5AqR2QyuhtkEj5AD6ErwBxTRnd5FXHmFgYn5gUBNPZiStrvDDMzio3mv36tUmw0R/QurCdI03TJ75vhzbm05wwB5nh+Yr7Zt567rqGmaOcuymb03PbsSAOWyLOdhGGiapgVo9s98/67mV2WsiV/Wy8I4joRN1OfoA/ZYWwocXhAPz0Hu2YBj3/dLWUqqxjdB7tkAYwP1BL9tgG9wxlv1IQA+31+Qsw4ARVEEVVVdZIgMgK7rGn/lh5pflQWEwjC8xXF8xZujKLqyvutlsBIqnuedgiCgJEkIJ7QtZxiC4zivKAvQtpxhCFx4cV330/f9B05oW84wVLi0E2z3wGr+Hdp8A4845XOHdR5CAAAAAElFTkSuQmCC);
}

.CodeMirror-lint-marker-unnecessary.CodeMirror-lintfix-marker-fixable::before {
    display: none;
}

.mirrorsharp-hint {
    display: flex;
    padding-left: 0;
}

.mirrorsharp-hint::before {
    content: '';
    flex-shrink: 0;
    margin-right: 0.2em;
    padding-right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    background-repeat: no-repeat;
}

.mirrorsharp-hint-suggestion,
.mirrorsharp-hint-suggestion.CodeMirror-hint-active {
    color: silver;
    background: #fff;
    border-bottom: 1px solid silver;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 10px;
    border-radius: 0;
}
.mirrorsharp-hint-suggestion::before {
    background: none;
}

.mirrorsharp-hint-keyword::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M0 1.334V20h17.333v-4h4v-4H20V8h-8V6.668h9.333v-4H12V1.334zM10.667 12H12v4h-1.333z' fill='%23f6f6f6'/%3E%3Cpath d='M9.333 4H2.667v1.333h6.666zm1.334 2.666H1.333v-4h9.334zM20 13.333h-6.667v1.333H20zm-10.667 0h-8v1.333h8zm6.667 4H1.333v1.333H16zm-2.667-8h-12v1.333h12zm5.334 0H16v1.333h2.667zm1.333-4h-6.667V4H20z' fill='%23424242'/%3E%3Cpath d='M2.667 5.333h6.666V4H2.667z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-namespace::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 21.333)'%3E%3Cpath d='M7 5H6v1c0 .535-.74 1.612-1 2 .26.39 1 1.466 1 2v1h1v3H6c-1.97-.02-3-1.277-3-3 0 0 .004-.965 0-1L2 9V7l1-1c.003-.03 0-1 0-1 0-1.71 1.317-2.98 3.286-3H7zm2 0h1v1c0 .535.74 1.612 1 2-.26.39-1 1.466-1 2v1H9v3h1c1.97-.02 3-1.277 3-3 0 0-.004-.965 0-1l1-1V7l-1-1c-.003-.03 0-1 0-1 0-1.71-1.03-2.98-3-3H9z' fill='%23f6f6f6'/%3E%3C/g%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 21.333)'%3E%3Cpath d='M5 5v1c0 .834-.496 1.737-1 2 .504.27 1 1.167 1 2v1c0 .84.584 1 1 1v1c-2.083 0-2-1.167-2-2v-1c0-.97-.703-.98-1-1V7c.322-.02 1-.053 1-1V5c0-.834-.083-2 2-2v1c-.833 0-1 1-1 1m6 0v1c0 .834.496 1.737 1 2-.504.27-1 1.167-1 2v1c0 .84-.584 1-1 1v1c2.083 0 2-1.167 2-2v-1c0-.97.703-.98 1-1V7c-.322-.02-1-.053-1-1V5c0-.834.083-2-2-2v1c.833 0 1 1 1 1' fill='%23424242'/%3E%3C/g%3E%3C/svg%3E");
}
.mirrorsharp-hint-class::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M7.448 0L0 7.448v1.104l5.332 5.333 3.22-3.22h.782v6.67h2.114l4 3.998h1.103l4.784-4.78v-1.105l-2.782-2.782 2.782-2.78V8.78l-4.002-3.998-1.885 1.884h-2.895l1.334-1.332L8.552 0z' fill='%23f6f6f6'/%3E%3Cpath d='M17.333 13.333L20 16l-4 4-2.667-2.667L14.667 16h-4V9.333H8L5.333 12l-4-4L8 1.333l4 4L9.333 8H16l1.333-1.333L20 9.333l-4 4-2.667-2.666 1.334-1.334H12v5.334l3.997.002z' fill='%23c27d1a'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-structure::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 341.33 341.33'%3E%3Cpath d='M21.333 52v234.667h128V158.645H192v128.022h128V52z' fill='%23f6f6f6'/%3E%3Cpath d='M213.333 265.333h85.334V180h-85.334zM42.667 265.333H128V180H42.667zM42.667 137.333h256v-64h-256z' fill='%2300539c'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-enum::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M7.448 2.666L5.332 4.782v3.22H2.114L0 10.113v5.105l2.114 2.114h6.438l2.115-2.115V12h3.22l2.112-2.115V4.782l-2.114-2.116z' fill='%23f6f6f6'/%3E%3Cpath d='M8 12H2.667v-1.334H8zm0 2.666H2.667v-1.333H8zm0-5.333H2.667l-1.334 1.333v4L2.667 16H8l1.333-1.334v-4zM13.333 6.666H8V5.333h5.333zm0-2.666H8L6.667 5.333V8h6.666v1.333H9.885l.782.78v.553h2.666l1.334-1.333v-4z' fill='%23c27d1a'/%3E%3Cpath d='M8 10.666H2.667V12H8zm0 2.667H2.667v1.333H8zm5.333-8H8v1.333h5.333zm0 2.667v1.333H9.885L8.552 8z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-union::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M4 2.666v4H0v10.668h12v-4h4V2.664z' fill='%23f6f6f6'/%3E%3Cpath d='M1.333 16h9.334v-4H9.333v2.667H2.667V9.332h2.666V8h-4z' fill='%23424242'/%3E%3Cpath d='M5.333 4v4h1.334V5.332h6.666v5.335h-2.666V12h4V4z' fill='%23424242'/%3E%3Cpath d='M10.667 12H5.333V8h5.334z' fill='%2300539c'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-interface::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 64)'%3E%3Cpath d='M34.5 11c-5.742 0-10.802 3.727-12.68 9h-5.048C15.2 17.27 12.264 15.5 9 15.5c-4.963 0-9 4.037-9 9s4.037 9 9 9c3.264 0 6.2-1.764 7.772-4.5h5.048c1.878 5.28 6.938 9 12.68 9C41.944 38 48 31.947 48 24.5 48 17.06 41.944 11 34.5 11' fill='%23f6f6f6'/%3E%3C/g%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 64)'%3E%3Cpath d='M34.5 20c-2.48 0-4.5 2.02-4.5 4.5 0 2.484 2.02 4.5 4.5 4.5s4.5-2.016 4.5-4.5c0-2.48-2.02-4.5-4.5-4.5m0 15c-5.013 0-9.17-3.543-10.204-8.25h-9.772C13.636 28.943 11.512 30.5 9 30.5c-3.313 0-6-2.684-6-6 0-3.313 2.687-6 6-6 2.512 0 4.636 1.557 5.524 3.75h9.772C25.33 17.545 29.486 14 34.5 14 40.29 14 45 18.71 45 24.5 45 30.292 40.29 35 34.5 35' fill='%2300539c'/%3E%3C/g%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 64)'%3E%3Cpath d='M34.5 20c-2.48 0-4.5 2.02-4.5 4.5 0 2.484 2.02 4.5 4.5 4.5s4.5-2.016 4.5-4.5c0-2.48-2.02-4.5-4.5-4.5' fill='%23f0eff1'/%3E%3C/g%3E%3C/svg%3E");
}
.mirrorsharp-hint-module::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M0 17.333h16V2.665H0z' fill='%23f6f6f6'/%3E%3Cpath d='M1.333 16h13.334v-5.334H1.333zM6.667 4H1.333v5.333h5.334zm2.666 5.333h5.334V4H9.333z' fill='%23652d90'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-delegate::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 21.333)'%3E%3Cpath d='M9.25 12H9v2H2v-2h-.25C.785 12 0 11.215 0 10.25v-4.5C0 4.785.785 4 1.75 4h7.5c.965 0 1.75.785 1.75 1.75v4.5c0 .965-.785 1.75-1.75 1.75' fill='%23f6f6f6'/%3E%3Cpath d='M9 6H8v4h1zm-5 6h3v-1H4zM3 6H2v4h1zm6.25 5H8v2H3v-2H1.75c-.414 0-.75-.336-.75-.75v-4.5c0-.414.336-.75.75-.75h7.5c.414 0 .75.336.75.75v4.5c0 .414-.336.75-.75.75' fill='%23652d90'/%3E%3C/g%3E%3Cpath d='M2.667 13.333H4V8H2.667zM10.667 13.333H12V8h-1.333z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-enummember::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M7.447 2.666L5.333 4.782v3.22H0v9.332h10.666V12h3.22l2.113-2.115V4.782l-2.115-2.116z' fill='%23f6f6f6'/%3E%3Cpath d='M13.333 6.666H8V5.333h5.333zm0-2.666H8L6.667 5.333V8h6.666v1.333h-2.666v1.333h2.666l1.334-1.333v-4z' fill='%2300539c'/%3E%3Cpath d='M2.667 12H8v1.333H2.667zm-1.334 4h8V9.333h-8z' fill='%2300539c'/%3E%3Cpath d='M2.667 13.333H8V12H2.667zM8 6.666h5.333V5.333H8zM10.665 9.333h2.668V8h-2.668z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-constant::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M16.552 2.667H4.782L2.666 4.78v10.44l2.114 2.113h11.772l2.115-2.114V4.78z' fill='%23f6f6f6'/%3E%3Cpath d='M16 14.115l-.552.552H5.885l-.552-.552v-8.23l.552-.552h9.563l.552.552zM16 4H5.333L4 5.333v9.334L5.333 16H16l1.333-1.333V5.333z' fill='%23424242'/%3E%3Cpath d='M8 9.333h5.333V8H8zM8 12h5.333v-1.334H8z' fill='%2300539c'/%3E%3Cpath d='M13.333 9.333H8V8h5.333zm0 2.667H8v-1.334h5.333zm2.115-6.667H5.885l-.552.552v8.23l.552.55h9.563l.552-.55v-8.23z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-field::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M8.986 2.666L0 7.16v6.98l6.386 3.194h.56L16 12.807v-6.98l-6.316-3.16z' fill='%23f6f6f6'/%3E%3Cpath d='M6.667 9.333L4 8l5.333-2.667L12 6.667zM1.333 8v5.333L6.667 16l8-4V6.667L9.333 4z' fill='%2300539c'/%3E%3Cpath d='M9.333 5.333L12 6.666 6.667 9.333 4 8z' fill='%23f0eff1'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-property::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 64)'%3E%3Cpath d='M11.89 4.667c-1.278 0-3.183.385-5.01 2.213-3.76 3.756-2.06 8.185 0 10.242l8.72 8.724C15.203 27.2 15 28.594 15 30c0 8.27 6.73 15 15 15 2.11 0 4.18-.453 6.156-1.344l3.958-1.787-8.87-8.87L33 31.242l8.87 8.87 1.786-3.954C44.55 34.18 45 32.108 45 30c0-8.27-6.73-15-15-15-1.406 0-2.798.202-4.157.605L17.12 6.88c-.368-.37-2.357-2.213-5.23-2.213' fill='%23f6f6f6'/%3E%3C/g%3E%3Cg transform='matrix(1.333 0 0 -1.333 0 64)'%3E%3Cpath d='M40.922 34.922L33 27l-6 6 7.922 7.922C33.416 41.602 31.758 42 30 42c-6.627 0-12-5.373-12-12 0-1.758.4-3.416 1.078-4.922L9 15s-3-3 0-6 6 0 6 0l10.078 10.078C26.584 18.398 28.242 18 30 18c6.627 0 12 5.373 12 12 0 1.758-.398 3.416-1.078 4.922' fill='%23424242'/%3E%3C/g%3E%3C/svg%3E");
}
.mirrorsharp-hint-method::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M.223 13.9V6.477l6.512-3.294 6.272 3.308v7.35l-5.952 4.365z' fill='%23f6f6f6'/%3E%3Cpath d='M10.92 12.798l-3.434 2.475v-4.616l3.435-2.09zm-4.293 2.617v.022l-.012-.01-.01.01v-.022l-4.223-2.753V8.238l4.28 2.39v4.763zm.034-9.832L10.755 7.6l-3.82 2.293L2.81 7.54zm5.013 7.582v-5.87l-4.95-2.612-5.166 2.612v5.87l5.44 3.428z' fill='%23652d90'/%3E%3Cpath d='M6.66 5.584L10.753 7.6 6.935 9.894 2.808 7.54z' fill='%23f0eff1'/%3E%3Cpath d='M6.66 5.584L10.753 7.6 6.935 9.894 2.808 7.54z' fill='none' stroke='%23652d90' stroke-width='.2'/%3E%3Cpath d='M6.628 15.415v.022l-.014-.01-.01.01v-.022L2.38 12.663V8.238l4.28 2.39v4.763z' fill='%23f0eff1'/%3E%3Cpath d='M6.628 15.415v.022l-.014-.01-.01.01v-.022L2.38 12.663V8.238l4.28 2.39v4.763z' fill='none' stroke='%23652d90' stroke-width='.2'/%3E%3Cpath d='M10.92 12.798l-3.434 2.475v-4.616l3.435-2.09z' fill='%23f0eff1'/%3E%3Cpath d='M10.92 12.798l-3.434 2.475v-4.616l3.435-2.09z' fill='none' stroke='%23652d90' stroke-width='.2'/%3E%3C/svg%3E");
}
.mirrorsharp-hint-parameter::before,
.mirrorsharp-hint-local::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.33 21.33'%3E%3Cpath d='M6.667 6.33V4H0v13.334h6.667v-2.48l2.875 1.437 5.124-2.563v3.607h6.668V4h-6.668v1.352l-3.02-1.51zm10.52 6.138V8h.146v5.332h-1.88z' fill='%23f6f6f6'/%3E%3Cpath d='M5.333 6.667V5.333h-4V16h4v-1.333H2.667v-8zM16 14.667V16h4V5.333h-4v1.334h2.667v8zM9.54 9.54L7.438 8.49l4.208-2.105 2.104 1.052zm2.105-4.207L5.333 8.49v4.207L9.54 14.8l6.312-3.156V7.437z' fill='%23424242'/%3E%3Cpath d='M9.54 9.54L7.438 8.49l4.208-2.105 2.104 1.052z' fill='%23f0eff1'/%3E%3C/svg%3E");
}

.mirrorsharp-signature-tooltip {
    position: absolute;
    z-index: 1000;
    margin-top: 2px;
    font-size: 80%;
    background: #eee;
    border: 1px solid silver;
    border-radius: 3px;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.mirrorsharp-signature-tooltip ol {
    margin: 0;
    padding: 2px;
    list-style-type: none;
}

.mirrorsharp-signature-tooltip li {
    padding: 1px 4px;
}

.mirrorsharp-signature-selected {
    background: #fff;
}

.mirrorsharp-signature-part-selected {
    font-weight: bold;
}